{:min-bb-version "1.3.180"
 :paths ["src"]
 :tasks
 {test {:doc "Run tests"
        :task (shell "clojure -M:test")}
  
  lint {:doc "Run clj-kondo linter"
        :task (shell "clj-kondo --lint src test")}
  
  clean {:doc "Clean build artifacts"
         :task (shell "rm -rf target")}
  
  release {:doc "Create and push a new release"
           :task (shell "./scripts/release")}}}
